---
---
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px);

$bodybg: #FEFEEB;
$prim: #F8F4E4;
$secondary: #A5B3AA;
$accent: #0CA5B0;
$hover: #A5B3AA;
$sans: 'Open Sans', sans-serif;
$serif: 'Slabo 27px', serif;
$light: #FEFEEB;
$dark: #4E3F30;
$menu-y: 50px;
$footer-y: 100px;

* {margin: 0;} 

html, body {
    font-size: 100%;
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    background: $bodybg;
}

h1, h2, h3, h4, h5, p, a, li{
    font-family: $sans;
    color: $dark;
    max-width: 100%;
}

h1{
    font-size: 36px;}
h2{
    font-size: 28px;}
h3{
    font-size: 24px;}
h4{
    font-size: 20px;}
p{
    font-size: 16px;}
a{
    color: $accent;
    text-decoration: none;}

a:hover {
        color: $hover;}
li{
    font-size: 16px;}
ul{
    list-style-type: none;}

// The Menu
.menu{
    width: 100%;
    background: $prim;
    height: $menu-y;
    
    ul{
        display: block;
        
        li{
            display: inline-block;
            
            a{
                display: block;
                line-height: $menu-y;
                padding: 0px 5px;
            }
        }
    }
}

.sidebar{

}

.content{
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    
}    
    

