<div id='sidebar'>
    <ul id='menu'>
    <li><a href="/">home</a></li>
    <li><a href="/about">about me</a></li>
    {% assign sorted_cats = (site.categories | sort:0) %}
    {% for category in sorted_cats %}
      <li class='expanded'><a class='on'>{{ category | first }} <span style='font-size: 10px; vertical-align: middle;'>&#9660;</span></a>
        <ul class='submenu'>
        {% for posts in category %}
            {% for post in posts limit:5 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        {% endfor %}
                <li><a href='/{{ category | first }}'>more...</a></li>
        </ul>
      </li>
    {% endfor %}
    </ul>

    <div class='icons'>
    <a href='https://github.com/lucywyman'><img class='social' src='/assets/img/github-icon-black.png'></a>
    <a href='http://linkedin.com/pub/lucy-wyman/70/553/6a7/'><img class='social' src='/assets/img/linkedin-black.png'></a>
    <a href='https://plus.google.com/107251431728646146032/posts'><img class='social' src='/assets/img/google-plus-black.png'></a>
    </div>

</div>
