<!DOCTYPE html>
<html>
  {% include ../head.html %}
  <body>
    {% include ../menu.html %}
    <div class='content' id='about'>
        <h2>Lucy is...</h2>
        <ul>
            <li>A <a href='https://lucywyman.github.io/poems'>novice poet</a></li>
            <li>A native Portlander</li>
            <li>A college student</li>
            <li>An avid nap enthusiast</li>
            <li>A <a href='http://osuosl.org/about/people/lucy-wyman'>front-end engineer</a></li>
            <li>A runner</li>
            <li>A fashion expert</li>
            <li>A graduate of Cleveland High School and the International Baccalaureate diploma program</li>
            <li>A <a href='https://www.youtube.com/watch?v=83DJiJEt_zE'>pianist</a></li>
            <li>A volunteer at the Oregon Humane Society</li>
            <li>A proud sister</li>
            <li>A daughter</li>
            <li>A dancer</li>
            <li>A <a href='https://www.youtube.com/watch?v=DzSC2__LXk4'>space cowgirl</a></li>
            <li>A <a href='https://github.com/lucywyman/recipes'>baker</a></li>
            <li>A hopeless idealist</li>
        </ul>
    </div>
    {% include footer.html %}
  </body>
</html>
