---
layout: default
---
<ul class='results' id='results-container'></ul>
<div class='recipe'>
    <h2 class='title'>{{ page.title }}</h2>
<!--    <div class='icons'>
    <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-shape="round" data-pin-height="32"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_32.png" /></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank"><img src='/assets/img/fb-icon.png' class='social'></a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://recipes.lucywyman.me" data-via="cookingandcode" data-count="none"><img src='/assets/img/twitter-icon.png' class='social' style='z-index:100;'></a>-->
    </div>
    {% if page.time %}
    <p>Total time: {{ page.time }}</p>
    {% endif %}
    {% if page.from %}
    <p>From: 
    {% if page.fromurl %}<a href='{{ page.fromurl }}'>{{ page.from }}</a>   
    {% else %}{{ page.from}}{% endif %}
    {% endif %}
    {{ content }}
</div>
